body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 15px 0;
  margin: 0 100px;
  height: 84px;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 400px;
  color: #636060;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.owl {
  height: 42px;
  width: 33px;
}

.div1 {
  display: flex;
}

.div1 p:hover {
  color: #220a8b;
  cursor: pointer;
}

.fa-bars {
  display: none !important;
}

p {
  margin-right: 52px;
}

.p {
  margin-right: 52px;
}

.p2 {
  margin-right: 78px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inscription {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.banner {
    background-image: url('../images/city.jpg');
    height: 606px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.discover {
  color: #ffffff;
  font-size: 79px;
  font-weight: 700px;
  margin-bottom: 30px;
  margin-right: 0%;
}

.travel {
  color: #ffffff;
  font-size: 19px;
  font-weight: 400px;
}

section {
  margin-top: 84px;
}

.line1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 98px;
}

.section1 {
  width: 235px;
  height: 213px;
  margin-right: 50px;
}

.photo-text {
  font-size: 17px;
  font-weight: 400px;
  color: #636060;
  line-height: 19.55px;
}

.photo-text1 {
  font-size: 28px;
  font-weight: 400px;
  color: #010101;
  margin-top: 9px;
  line-height: 32.2px;
}

.photo-text2 {
  font-size: 20px;
  font-weight: 400px;
  color: #636060;
  margin-top: 37px;
  line-height: 23px;
}
.line2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 56px;
  margin-right: 98px;
}

.text {
  font-size: 19px;
  font-weight: 400px;
  margin-top: 23px;
  color: #343232;
}

.text1 {
  font-size: 18px;
  font-weight: 400px;
  color: #636060;
  margin-top: 9px;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  margin-left: 33px;
}

.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  height: 312px;
  width: 286px;
}
